<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>#!/usr/bin/env ruby -wKU

f = open(ENV["TM_NEW_FILE"], 'w')
template = open("template.R").read

ENV["TM_YEAR"] = `date +%Y`.chomp
ENV["TM_DATE"] = `date +%Y-%m-%d`.chomp

if ENV["TM_SOFT_TABS"] == "YES"
	tab_size = ENV["TM_TAB_SIZE"].to_i
	tab_size = tab_size ? tab_size : 4
	template = template.gsub(/\t/, " "*tab_size)
end

template = template.gsub(/[$]\{([^}]+)\}/){|match| "#{ENV[$1]}" }
f.write template
f.close
</string>
	<key>extension</key>
	<string>R</string>
	<key>name</key>
	<string>testthat script</string>
	<key>scope</key>
	<string>source.r</string>
	<key>uuid</key>
	<string>6DE4F2C8-7144-4E4B-9C30-C15F997D3E69</string>
</dict>
</plist>
